h1,
h2,
h4,
li,
p {
  color: black;
  font-family: Courier, monospace;
}

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.typing-container {
  width: 100%; /* Ensure the container is the full width of its parent */
  margin-top: 130px; /* Adjust the top margin to move it down */
  margin-left: 600px; /* Adjust the left margin to move it to the right */
}

.typing-text {
  display: inline-block;
  white-space: nowrap; /* Keep the text in a single line */
  animation: fadeIn 1s forwards;
}

.typing-text, .typing-text span {
  /* Define the color here to ensure it's the same for both the <p> and <span> elements */
  color: black; /* Set your desired color */
  /* Other styles */
}

.second-line {
  /* Apply different alignment, padding, or any other styles you want */
  text-align: left; /* or any other alignment you prefer */
  margin-left: -50px; /* If you want to indent it a bit */
}

.settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 28vw;
  margin-bottom: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center; /* This will center the button horizontally */
  width: 100%; /* Ensure the div takes up the full width */
}

.start-btn {
  padding: 30px;
}

.conversation-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shared-conversation-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
  color: black;
  font-family: Courier, monospace;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.pulsating-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 5%;
  animation: pulse 2s infinite;
  opacity: 0;
  z-index: -1;
}

.text-area {
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: large;
}

@media (min-width: 768px) {
  .md-align-self {
    align-self: stretch;
  }
}

.did-button-group {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;

  .did-button {
    margin-left: 10px;
  }
}

.speech-video {
  width: 600px;
  height: 600px;
}
